#movieInfo {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #EEEEEE;
    margin-top: 20px;
    border-radius: 5px;
}

#movieInfoTitle {
    margin-left: 5%;
}

.movieInfoP {
    margin-left: 6%;
}