#movieInfo {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #EEEEEE;
    margin-top: 20px;
    border-radius: 5px;
}

#movieInfo img {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    display: block;
}

#movieInfo p {
    display: block;
    margin-left: 7%;
    margin-right: 7%;
}

.movieInfoP {
    margin-left: 6%;
}

/*.flex-container {
    display: grid;
    grid-template-columns: 100%;
  }*/
